---
import DSC0 from "../assets/img/products/DSC08648.jpg";
import MontaCargas from "../assets/img/products/montacargas.jpg";
import Tijeras from "../assets/img/products/tijera.jpg";
import Generadores from "../assets/img/products/generador.jpg";
import Excavadores from "../assets/img/products/montacargas-2.jpg";

import uno from "../assets/img/products/DSC03931-320x240.jpg";
import dos from "../assets/img/products/P1-6-1-e1733195070644-2.jpg";
import tres from "../assets/img/products/222-3.jpg";
import cuatro from "../assets/img/products/P1-6-1-4.jpg";
import cinco from "../assets/img/products/DSC09219-e1721257587704-5.jpg";

import THM from "../assets/img/marcas/TMH_Logo.png";
import Sinoboom from "../assets/img/marcas/Sinoboom.jpg";
import lonking from "../assets/img/marcas/lonking.png";
import heli from "../assets/img/marcas/heli.png";
import sync from "../assets/img/marcas/sync.jpg";

import portadaVideo from "../assets/img/products/montacargas_video.webp";
import portadaRTE from "../assets/img/empresa_montacargas.webp";
import portadaMexico from "../assets/img/mexico.webp";

import toyota1 from "../assets/img/toyota/1.jpg";
import toyota2 from "../assets/img/toyota/2.jpg";
import toyota3 from "../assets/img/toyota/3.jpg";
import toyota4 from "../assets/img/toyota/4.jpg";
import toyota5 from "../assets/img/toyota/5.jpg";

import articulado1 from "../assets/img/articulados/1.jpg";
import articulado2 from "../assets/img/articulados/2.jpg";
import articulado3 from "../assets/img/articulados/3.jpg";
import articulado4 from "../assets/img/articulados/4.jpg";
import articulado5 from "../assets/img/articulados/5.jpg";

import electricos1 from "../assets/img/electricos/1.jpg";
import electricos2 from "../assets/img/electricos/2.jpeg";
import electricos3 from "../assets/img/electricos/3.jpg";
import electricos4 from "../assets/img/electricos/4.jpg";
import electricos5 from "../assets/img/electricos/5.jpg";

import tijeras1 from "../assets/img/tijeras/1.jpeg";
import tijeras2 from "../assets/img/tijeras/2.jpeg";
import tijeras3 from "../assets/img/tijeras/3.webp";
import tijeras4 from "../assets/img/tijeras/4.jpeg";
import tijeras5 from "../assets/img/tijeras/5.jpg";

import compra1 from "../assets/img/compra/1.webp";
import compra2 from "../assets/img/compra/2.webp";
import compra3 from "../assets/img/compra/3.webp";

import montacarga1 from "../assets/img/montacarga/1.webp";
import montacarga2 from "../assets/img/montacarga/2.webp";
import montacarga3 from "../assets/img/montacarga/3.webp";
import montacarga4 from "../assets/img/montacarga/4.webp";
import profeco from "../assets/img/montacarga/profeco.jpg";

import plataformaGenie1 from "../assets/img/genie/plataformaGenie1.jpg";
import plataformaGenie2 from "../assets/img/genie/plataformaGenie2.jpg";
import plataformaGenie3 from "../assets/img/genie/plataformaGenie3.webp";
import plataformaGenie4 from "../assets/img/genie/plataformaGenie4.jpg";
import plataformaGenie5 from "../assets/img/genie/plataformaGenie5.jpg";

import plataformaJLG1 from "../assets/img/jlg/plataformaJLG1.jpg";
import plataformaJLG2 from "../assets/img/jlg/plataformaJLG2.jpg";
import plataformaJLG3 from "../assets/img/jlg/plataformaJLG3.jpg";
import plataformaJLG4 from "../assets/img/jlg/plataformaJLG4.jpg";
import plataformaJLG5 from "../assets/img/jlg/plataformaJLG5.jpg";

import fondoPlataforma from "../assets/img/fondoplataforma.jpg";

import articuladas1 from "../assets/img/imgfooter/articuladas1.jpg";
import articuladas2 from "../assets/img/imgfooter/articuladas2.jpg";
import tijerasf1 from "../assets/img/imgfooter/tijeras1.jpg";
import tijerasf2 from "../assets/img/imgfooter/tijeras2.jpg";
---

<!-- Sección de productos (del primer ejemplo) -->
<section class="product-section" id="productos">
  <!--<div class="product-card">
    <img src={DSC0.src} alt="Montacargas" />
    <h3>MONTACARGAS</h3>
    <p>De combustión y eléctricos. De 2 a 10 Ton.</p>
    <a href="https://losmontacargas.mx/product-category/montacargas/" class="btn-vermas">VER MÁS</a>
  </div>
  -->
  <div class="product-card" style="width: auto;">
    <img src={MontaCargas.src} alt="Plataformas" />
    <h3>PLATAFORMAS</h3>
    <p>Telescópicas y articuladas. Genie, JLG y Sinoboom.</p>
    <a
      href="https://losmontacargas.mx/product-category/plataforma-articulada/"
      class="btn-vermas">VER MÁS</a
    >
  </div>
  <div class="product-card" style="width: auto;">
    <img src={Tijeras.src} alt="Tijeras" />
    <h3>TIJERAS</h3>
    <p>Plataformas tipo tijera de todas las alturas.</p>
    <a
      href="https://losmontacargas.mx/product-category/plataforma-tijera/"
      class="btn-vermas">VER MÁS</a
    >
  </div>
  <!--<div class="product-card">
    <img src={Generadores.src} alt="Generadores" />
    <h3>GENERADORES</h3>
    <p>Desde 10 KW - 200 KW, diésel y gas LP.</p>
    <a href="https://losmontacargas.mx/product-category/generador-electrico/" class="btn-vermas">VER MÁS</a>
  </div>
  <div class="product-card">
    <img src={Excavadores.src} alt="Excavadoras" />
    <h3>EXCAVADORAS</h3>
    <p>Minicargadores de 1 a 3 toneladas.</p>
    <a href="https://losmontacargas.mx/product-category/mini-cargadores/" class="btn-vermas">VER MÁS</a>
  </div>
  -->
</section>

<!-- SECCIÓN: Plataformas Articuladas Precios -->
<section class="product-grid-section">
  <h3>
    Plataformas Articuladas Precios | <a
      href="https://losmontacargas.mx/product-category/plataforma-articulada/"
      >VER MÁS</a
    >
  </h3>
  <div class="product-section-others">
    <!-- Producto 1 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-articulada-usada-electrico-500-lb-genie/"
      class="product-item wide"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={articulado1.src} alt="Plataforma Genie Eléctrica" />
      <h4>Plataforma Articulada Genie, Eléctrica, 500 Lb</h4>
      <p class="product-price">USD $45,950.00</p>
    </a>
    <!-- Producto 2 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-articulada-sinoboom-ab10erjn-electrica-500-lb-12-metros-nueva/"
      class="product-item wide"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={articulado2.src} alt="Plataforma Sinoboom 12m" />
      <h4>
        Plataforma Articulada SINOBOOM AB10ERJ Eléctrica, 500 Lb 12 Metros Nueva
      </h4>
      <p class="product-price">USD $57,950.00</p>
    </a>
    <!-- Producto 3 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-articulada-sinoboom-electrica-500-lb-16-metros-nueva/"
      class="product-item wide"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={articulado3.src} alt="Plataforma Sinoboom 16m" />
      <h4>
        Plataforma Articulada SINOBOOM AB14EJ Eléctrica, 500 Lb 16 Metros Nueva
      </h4>
      <p class="product-price">USD $64,950.00</p>
    </a>
    <!-- Producto 4 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-articulada-zoomlion-za14j-electrica-14-metros-500-lb-nueva/"
      class="product-item wide"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={articulado4.src} alt="Plataforma Zoomlion ZA14J" />
      <h4>
        Plataforma Articulada Zoomlion ZA14J Eléctrica, 14 Metros, 500 Lb Nueva
      </h4>
      <p class="product-price">USD $64,950.00</p>
    </a>
    <!-- Producto 5 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-articulada-genie-z45-25-electrica-500-lb-12-5m-nueva/"
      class="product-item wide"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={articulado5.src} alt="Plataforma Genie 12.5m" />
      <h4>
        Plataforma Articulada GENIE Z34/22, Eléctrica, 500 Lb (12.5m) Nueva
      </h4>
      <p class="product-price">USD $62,950.00</p>
    </a>
  </div>
</section>

<!-- SECCIÓN: Texto de venta + formulario lateral + video -->
<section class="offer-section" id="tipos">
  <div class="offer-left">
    <h2><b>Venta De Plataformas Precios</b></h2>
    <ul>
      <li>
        <h2><b>Plataformas Articuladas</b></h2>
        <p>
          Las plataformas articuladas son una herramienta valiosa en la
          industria de la construcción, la limpieza y el mantenimiento de
          edificios, entre otras aplicaciones.
        </p>
        <p>
          Estas plataformas <strong
            >están diseñadas para proporcionar acceso seguro a áreas elevadas</strong
          > y de difícil acceso, lo que permite a los trabajadores realizar su trabajo
          de manera eficiente y efectiva.
        </p>
      </li>
      <li>
        <h2><b>Plataformas Tipo Tijera</b></h2>
        <p>
          <strong>Las plataformas tipo tijera</strong> son un tipo de equipo de elevación
          utilizado en diversas aplicaciones, como la construcción, la instalación
          de sistemas de aire acondicionado y la limpieza de edificios.
        </p>
        <p>
          En Los Montacargas RTE <strong
            >vendemos plataformas tipo tijera</strong
          > de todas las capacidades.
        </p>
        <p>
          Las plataformas tipo tijera tienen una amplia base y una plataforma de
          trabajo que se eleva y desciende verticalmente con la ayuda de un
          sistema hidráulico.
        </p>
      </li>
    </ul>
    <!-- Video de YouTube (ejemplo) -->
    <div class="video-container">
      <a href="https://www.youtube.com/watch?v=Hnxjj7Cu8f0" target="_blank">
        <img
          src={portadaVideo.src}
          alt="portada video"
          width="100%"
          height="250"
        />
      </a>
    </div>
  </div>

  <div class="offer-right" id="contacto">
    <div class="social-media">
      <span>Síguenos:</span>
      <a
        href="https://www.facebook.com/losmontacargas.mx"
        target="_blank"
        class="facebook"><i class="fa-brands fa-facebook"></i></a
      >
      <a
        href="https://www.instagram.com/losmontacargas/"
        class="instagram"
        target="_blank"><i class="fa-brands fa-instagram"></i></a
      >
      <a
        href="https://www.youtube.com/@LosMontacargas?themeRefresh=1"
        class="youtube"
        target="_blank"><i class="fa-brands fa-youtube"></i></a
      >
      <a
        href="https://www.linkedin.com/in/rte-de-mexico-b87064a9?originalSubdomain=mx"
        class="linkedin"
        target="_blank"><i class="fa-brands fa-linkedin"></i></a
      >
      <a href="https://vimeo.com/350113615" class="vimeo" target="_blank"
        ><i class="fa-brands fa-vimeo"></i></a
      >
    </div>

    <!-- Formulario de contacto/cotización -->
    <form class="enquiry-form" id="miFormulario">
      <div class="form-row">
        <div class="form-group">
          <label>Nombre *</label>
          <input
            type="text"
            id="from_name"
            name="from_name"
            placeholder="Nombre..."
            required
          />
        </div>
        <div class="form-group">
          <label>Correo electrónico *</label>
          <input
            type="email"
            placeholder="Ej: ventas@losmontacargas.mx"
            required
            id="from_email"
            name="from_email"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Whatsapp *</label>
          <input
            id="from_phone"
            name="from_phone"
            type="text"
            placeholder="Clave lada y número..."
            required
          />
        </div>
        <div class="form-group">
          <label>¿Cómo nos contactaste?</label>
          <select id="from_como" name="from_como">
            <option value="">Seleccione una opción</option>
            <option value="Google">Google</option>
            <option value="Facebook">Facebook</option>
            <option value="Recomendación">Recomendación</option>
            <option value="Otro">Otro</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group full-width">
          <label>Cotización *</label>
          <textarea
            id="from_cotizacion"
            name="from_cotizacion"
            placeholder="Qué equipo le interesa, presupuesto, marca, capacidad?"
            rows="4"
            required></textarea>
        </div>
      </div>

      <!-- reCAPTCHA placeholder -->

      <button type="submit" class="btn-submit">Enviar</button>
    </form>
    <div><b id="formSubmitText"></b></div>
    <script is:inline>
      document.addEventListener("DOMContentLoaded", function () {
        document
          .getElementById("miFormulario")
          .addEventListener("submit", async function (event) {
            event.preventDefault();
            const serviceID = "service_55jqltw";
            const templateID = "template_fww3q5k";
            const publicKey = "eN464HirBdtg7HP81";
            try {
              await emailjs.sendForm(
                serviceID,
                templateID,
                event.target,
                publicKey,
              );
              document.getElementById("formSubmitText").innerHTML =
                "Correo enviado correctamente.";
              event.target.reset();
            } catch (error) {
              document.getElementById("formSubmitText").innerHTML =
                "Hubo un error al enviar el correo.";
            }
          });
      });
    </script>
  </div>
</section>
<!-- SECCIÓN: ¿Por Qué Los Montacargas RTE? -->
<section class="why-rte">
  <h2>¿Por Qué Los Montacargas RTE?</h2>
  <p>
    En <strong>MONTACARGAS RTE</strong> somos un grupo de expertos en la asesoría
    y venta de montacargas. <br />
    Contáctanos o cotiza en línea. <strong>Envío En 24 Horas.</strong><br />
    <a href="#" class="reviews-link">Ver Reseñas</a>
  </p>

  <!-- Contenedor de columnas (rapidez, confianza, crédito) -->
  <div class="why-features">
    <!-- RAPIDEZ -->
    <div class="feature-item">
      <div class="feature-icon">
        <i class="fa-solid fa-rocket"></i>
      </div>
      <h3>RAPIDEZ</h3>
      <p>
        Cotizamos y enviamos tu montacargas en tiempos de entrega récord,
        garantizado. Envío en 24 Horas.
      </p>
    </div>

    <!-- CONFIANZA -->
    <div class="feature-item">
      <div class="feature-icon">
        <i class="fas fa-check"></i>
      </div>
      <h3>CONFIANZA</h3>
      <p>
        Cientos de personas confían en Los Montacargas cada día para recibir
        ayuda. Contamos con expertos en montacargas.
      </p>
    </div>

    <!-- CRÉDITO -->
    <div class="feature-item">
      <div class="feature-icon">
        <i class="fa-solid fa-dollar-sign"></i>
      </div>
      <h3>CRÉDITO</h3>
      <p>
        Ahorra tiempo y dinero, excelente calidad por excelentes precios.
        Llévate tu montacargas a pagos por arrendamiento.
      </p>
    </div>
  </div>

  <!-- Banda de logos de marcas -->
  <div class="brand-logos">
    <div class="brand-logo-content"><img src={THM.src} alt="Toyota" /></div>
    <div class="brand-logo-content">
      <img src={Sinoboom.src} alt="Sinoboom" />
    </div>
    <div class="brand-logo-content">
      <img src={lonking.src} alt="Lonking" />
    </div>
    <div class="brand-logo-content"><img src={heli.src} alt="Heli" /></div>
    <div class="brand-logo-content"><img src={sync.src} alt="Hyundai" /></div>
  </div>
</section>
<!-- SECCIÓN BANNER: COMPRA CON ARRENDAMIENTO Y CRÉDITO -->
<section
  class="arrendamiento-banner"
  style={`background-image: url(${portadaRTE.src});`}
>
  <div id="background-overlay"></div>
  <div class="arrendamiento-content">
    <h2>COMPRA CON ARRENDAMIENTO Y CRÉDITO</h2>
    <p>PAGA TU PLATAFORMA A PAGOS MENSUALES CON CRÉDITO</p>
    <a
      href="https://losmontacargas.mx/catalogo/?filter_tipo=plataforma-articulada"
      class="btn-comprar-ahora">COMPRAR AHORA</a
    >
  </div>
</section>

<!-- SECCIÓN: Montacargas Toyota Precios -->
<section class="product-grid-section">
  <h3>
    Plataformas Articuladas Genie | <a
      href="https://losmontacargas.mx/product-category/plataformas/">VER MÁS</a
    >
  </h3>
  <div class="product-section-others">
    <!-- Producto 1 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-articulada-usada-electrico-500-lb-genie/"
      class="product-item wide"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={plataformaGenie1.src} alt="Toyota 5000 Lb Semi Nuevo" />
      <h4>Plataforma Articulada Genie, Electrico, 500 Lb, Usada</h4>
      <p class="product-price">USD $24,950.00</p>
    </a>
    <!-- Producto 2 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-articulada-usada-electrico-500-lb-genie-8/"
      class="product-item wide"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={plataformaGenie2.src} alt="Toyota 5000 Lb Nuevo" />
      <h4>Plataforma Articulada Usada, Electrico, 500 Lb, Genie</h4>
      <p class="product-price">USD $39,950.00</p>
    </a>
    <!-- Producto 3 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-tijera-genie-electrica-gs3246-12m-500-lb-nueva/"
      class="product-item wide"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={plataformaGenie3.src} alt="Toyota 5000 Lb Dual Gas" />
      <h4>Plataforma Tijera Genie Eléctrica GS3246 (12m) 500 Lb Nueva</h4>
      <p class="product-price">USD $25,950.00</p>
    </a>
    <!-- Producto 4 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-articulada-genie-z45-25-electrica-500-lb-12-5m-nueva/"
      class="product-item wide"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={plataformaGenie4.src} alt="Toyota 5000 Lb Gas LP" />
      <h4>
        Plataforma Articulada GENIE Z34/22, Eléctrica, 500 Lb (12.5m) Nueva
      </h4>
      <p class="product-price">USD $39,950.00</p>
    </a>
    <!-- Producto 5 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-articulada-genie-z45-25-electrica-500-lb-14m-nueva/"
      class="product-item wide"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={plataformaGenie5.src} alt="Toyota 5000 Lb Dual (Gasolina/LP)" />
      <h4>Plataforma Articulada GENIE Z45/25, Eléctrica, 500 Lb (14m) Nueva</h4>
      <p class="product-price">USD $28,950.00</p>
    </a>
  </div>
</section>
<section class="immediate-delivery">
  <h2>
    Plataformas Articuladas JLG <span>
      | <a href="https://losmontacargas.mx/product-category/plataformas/">VER MÁS</a></span
    >
  </h2>

  <!-- Carrusel / fila de productos -->
  <div class="product-section-others">
    <!-- Tarjeta 1 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-tijera-usada-electrico-750-lb-jlg/"
      class="product-item"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={plataformaJLG1.src} alt="Toyota 5000 lb" />
      <h3>Plataforma Tijera Usada, Electrico, 750 Lb, Jlg</h3>
      <p class="product-price">USD $24,950.00</p>
    </a>
    <!-- Tarjeta 2 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-articulada-jlg-electrica-500-lb-usada-copia/"
      class="product-item"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={plataformaJLG2.src} alt="Hando Gas LP Dual 5500 lb" />
      <h3>Plataforma Articulada Genie E400AJP Eléctrica 500 Lb, Usada</h3>
      <p class="product-price">USD $22,950.00</p>
    </a>
    <!-- Tarjeta 3 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-articulada-jlg-electrica-500-lb-usada/"
      class="product-item"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={plataformaJLG3.src} alt="Lonking Gas LP" />
      <h3>Plataforma Articulada JLG, Eléctrica, 500 Lb, Usada</h3>
      <p class="product-price">USD $23,950.00</p>
    </a>
    <!-- Tarjeta 4 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-telescopica-usada-3/"
      class="product-item"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={plataformaJLG4.src} alt="Hando 8000 lb" />
      <h3>Plataforma Telescopica JLG 12 Metros Usada</h3>
      <p class="product-price">USD $27,950.00</p>
    </a>
    <!-- Tarjeta 5 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-articulada-usada-electrico-500-lb-jlg-4/"
      class="product-item"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={plataformaJLG5.src} alt="Lonking Eléctrico" />
      <h3>Plataforma Articulada Usada, Electrico, 500 Lb, Jlg</h3>
      <p class="product-price">USD $29,950.00</p>
    </a>
  </div>
</section>

<!-- SECCIÓN: Plataformas Tipo Tijera Precios -->
<section class="product-grid-section">
  <h3>
    Plataformas Tipo Tijera Precios | <a
      href="https://losmontacargas.mx/product-category/plataforma-tijera/"
      >VER MÁS</a
    >
  </h3>
  <div class="product-section-others">
    <!-- Producto 1 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-tijera-sinoboom-electrica-0808s-10-metros-500-lb-nueva/"
      class="product-item wide"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img
        src={tijeras1.src}
        alt="Plataforma Tijera Sinoboom Eléctrica 0808S"
      />
      <h4>Plataforma Tijera Sinoboom Eléctrica 0808S (10m) 500 Lb Nueva</h4>
      <p class="product-price">USD $22,950.00</p>
    </a>

    <!-- Producto 2 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-tijera-sinoboom-electrica-gtjz0808-500-lb/"
      class="product-item wide"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={tijeras2.src} alt="Plataforma Tijera Sinoboom Eléctrica 8m" />
      <h4>Plataforma Tijera Sinoboom Eléctrica (8m) GTJZ0808, 500 Lb Nueva</h4>
      <p class="product-price">USD $19,950.00</p>
    </a>

    <!-- Producto 3 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-tijera-genie-electrica-gs3246-12m-500-lb-nueva/"
      class="product-item wide"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={tijeras3.src} alt="Plataforma Tijera Genie Eléctrica GS3246" />
      <h4>Plataforma Tijera Genie Eléctrica GS3246 (12m) 500 Lb Nueva</h4>
      <p class="product-price">USD $34,950.00</p>
    </a>

    <!-- Producto 4 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-tijera-heli-electrica-js0607e-6m-750-lb-nueva/"
      class="product-item wide"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={tijeras4.src} alt="Plataforma Tijera Heli JS0607E" />
      <h4>Plataforma Tijera Heli Eléctrica JS0607E (6m) 750 Lb Nueva</h4>
      <p class="product-price">USD $23,950.00</p>
    </a>

    <!-- Producto 5 -->
    <a
      href="https://losmontacargas.mx/producto/plataforma-tijera-usada-dual-2500-lb-genie/"
      class="product-item wide"
    >
      <div class="negociable-badge">Precios<br />Negociables</div>
      <img src={tijeras5.src} alt="Plataforma Tijera Usada Dual Genie" />
      <h4>Plataforma Tijera Usada, Dual, 2500 Lb, Genie</h4>
      <p class="product-price">USD $18,950.00</p>
    </a>
  </div>
  <!-- SECCIÓN: COMPRA TU MONTACARGAS EN 3 PASOS -->
  <section class="three-steps">
    <h2>Compra Tu Plataforma En 3 Pasos</h2>
    <p>
      En <strong>MONTACARGAS RTE</strong> somos un grupo de expertos en la asesoría
      y venta de Plataformas. <br />
      Contáctanos o cotiza en línea.
      <strong>Envío En 24 Horas.</strong>
    </p>

    <div class="steps-container">
      <!-- Paso 1 -->
      <div class="step-item">
        <!-- Imagen ejemplo -->
        <img
          src={compra1.src}
          alt="Haz una cita y ve tu equipo por videollamada"
        />
        <h3>Haz una cita y ve tu equipo por videollamada</h3>
        <p>
          Encuentra la plataforma de tus sueños y haz una cita para que lo
          puedas ver por videollamada.
        </p>
      </div>
      <!-- Paso 2 -->
      <div class="step-item">
        <img src={compra2.src} alt="Entrega a domicilio. Rápida y fácil." />
        <h3>Entrega a domicilio. Rápida y fácil.</h3>
        <p>
          Todas nuestras entregas y recogidas se pueden hacer desde la comodidad
          de tu casa, bajo nuestras estrictas medidas de sanitización.
        </p>
      </div>
      <!-- Paso 3 -->
      <div class="step-item">
        <img
          src={plataformaGenie1.src}
          alt="Plataformas Nuevas y Seminuevas Certificadas"
          style="height: 55%;"
        />
        <h3>Plataformas Nuevas y Seminuevas Certificadas</h3>
        <p>
          Todos las plataformas son inspeccionadas y pasan por más de 30
          revisiones, son restaurados para quedar como nuevos.
        </p>
      </div>
    </div>
  </section>
</section>
<!-- SECCIÓN: MONTACARGAS MÉXICO (BANNER) -->
<section
  class="arrendamiento-banner"
  style={`background-image: url(${fondoPlataforma.src});`}
>
  <div id="background-overlay"></div>
  <div class="arrendamiento-content">
    <h2>Montacargas MÉXICO</h2>
    <p>los mejores precio EN MONTACARGAS EN MÉXICO</p>
    <a
      href="https://losmontacargas.mx/plataformas-articuladas/"
      class="btn-comprar-ahora">COMPRAR AHORA</a
    >
  </div>
</section>

<section class="product-grid-section" id="queson">
  <section class="forklift-section">
    <div class="forklift-info-block">
      <div class="forklift-image">
        <img
          src={articuladas1.src}
          alt="Montacargas Hando de combustión interna"
        />
      </div>
      <div class="forklift-description">
        <h3>¿Qué son las plataformas articuladas?</h3>
        <p>
          Las plataformas articuladas son dispositivos de elevación que se
          utilizan para acceder a áreas elevadas y de difícil acceso. Estas
          plataformas están diseñadas para ser estables y seguras, lo que
          permite a los trabajadores realizar trabajos en altura de manera más
          eficiente y efectiva.
        </p>
        <p>
          Las plataformas articuladas son extremadamente versátiles y se pueden
          utilizar para diferentes aplicaciones, como la construcción, la
          limpieza de edificios, el mantenimiento de carreteras y puentes, la
          instalación de señalización, la inspección y reparación de torres y el
          mantenimiento de parques solares.
        </p>
      </div>
    </div>

    <hr />

    <div class="forklift-info-block reverse-movil">
      <div class="forklift-description">
        <h3>¿Cómo funcionan las plataformas articuladas?</h3>
        <p>
          Las plataformas articuladas funcionan mediante el uso de un sistema de
          brazos articulados que se extienden desde la base de la plataforma
          hasta la cesta en la parte superior. Los brazos articulados permiten
          que la plataforma se eleve y se extienda horizontalmente, lo que
          permite a los trabajadores acceder a áreas que de otra manera serían
          inaccesibles.
        </p>
        <p>
          Las plataformas articuladas también están equipadas con un sistema de
          control que permite al operador ajustar la altura y la posición de la
          plataforma con precisión.
        </p>
      </div>
      <div class="forklift-image">
        <!-- Ajusta la ruta y nombre del archivo de imagen -->
        <img
          src={articuladas2.src}
          alt="Montacargas Eléctrico Hando con batería de litio"
        />
      </div>
    </div>
  </section>
  <section class="distributor-section">
    <div class="distributor-block">
      <div class="distributor-image">
        <img src={tijerasf1.src} alt="Montacargas Hando Combustión Interna" />
      </div>
      <div class="distributor-description">
        <h3>Características de las plataformas tipo tijera</h3>
        <p>
          Las plataformas tipo tijera están diseñadas para proporcionar acceso
          seguro a áreas elevadas y de difícil acceso. A diferencia de las
          plataformas articuladas, las plataformas tipo tijera se mueven
          verticalmente, lo que las hace más adecuadas para trabajos que
          requieren acceso a una sola ubicación elevada.
        </p>
        <p>
          Estas plataformas tienen una base amplia y estable que las hace más
          seguras y estables que otros tipos de equipos de elevación.
        </p>
        <p>
          Las plataformas tipo tijera <strong
            >están disponibles en una variedad de tamaños y alturas de elevación</strong
          >. Algunas plataformas tipo tijera pueden elevarse a alturas
          superiores a 18 metros, lo que las hace ideales para trabajos de
          construcción o para la instalación de sistemas de aire acondicionado
          en edificios de varios pisos.
        </p>
        <p>
          Las plataformas tipo tijera están diseñadas para ser operadas por una
          persona, y la plataforma de trabajo generalmente puede acomodar hasta
          dos personas y herramientas. Algunas plataformas tipo tijera también
          tienen características adicionales, como plataformas giratorias o
          extensiones de plataforma, que aumentan su versatilidad.
        </p>
      </div>
    </div>

    <hr />

    <div class="distributor-block reverse-movil">
      <div class="distributor-description">
        <h3>Aplicaciones de las plataformas tipo tijera</h3>
        <p>
          Las plataformas tipo tijera tienen diversas aplicaciones en la industria de la construcción, la limpieza y el mantenimiento de edificios, entre otras. Algunas de las aplicaciones más comunes de las plataformas tipo tijera son las siguientes:
        </p>
        <ol>
          <li>
            <strong>Construcción:</strong> Las plataformas tipo tijera son útiles en la construcción para trabajos en altura, como la instalación de techos o el revestimiento de paredes. Las plataformas tipo tijera pueden elevar a los trabajadores y las herramientas a alturas de trabajo seguras, lo que les permite trabajar de manera más eficiente y efectiva.
          </li>
          <li>
            <strong>Instalación de sistemas de aire acondicionado:</strong> Las plataformas tipo tijera son ideales para la instalación de sistemas de aire acondicionado en edificios de varios pisos. Las plataformas tipo tijera pueden elevar a los trabajadores y el equipo a las ubicaciones de instalación de manera segura y eficiente.
          </li>
          <li>
            <strong>Limpieza y mantenimiento de edificios:</strong> Las plataformas tipo tijera son útiles para la limpieza y mantenimiento de edificios, como la limpieza de ventanas o la reparación de techos. Las plataformas tipo tijera permiten a los trabajadores llegar a áreas elevadas de manera segura y eficiente.
          </li>
        </ol>
      </div>
      <div class="distributor-image">
        <img src={tijerasf2.src} alt="Montacargas RTE" />
      </div>
    </div>
  </section>
</section>
<!-- SECCIÓN SUPERIOR OSCURA -->
<section class="footer-top" id="empresa">
  <div class="footer-top-content">
    <!-- Lado Izquierdo: Información "¿Quiénes Somos?" -->
    <div class="footer-about">
      <h3>¿Quienes Somos?</h3>
      <p>
        <strong>Montacargas RTE</strong> es una empresa con más de
        <strong>30 años de experiencia</strong>. <br />
        Tenemos más de 10,000 m2 de instalaciones en Apodaca N.L. Más de 900 montacargas
        en stock.
      </p>
      <p>
        Somos parte del grupo RTE De México, una empresa sólida y conocida en
        todo el país.
      </p>
      <ul>
        <li>Garantía de 6 meses</li>
        <li>Precios negociables en montacargas</li>
        <li>Conseguimos cualquier equipo o refacción</li>
        <li>Importamos el montacargas por usted</li>
      </ul>
    </div>

    <!-- Lado Derecho: Mapa de Google y redes -->
    <div class="footer-map">
      <h4>Los Montacargas RTE en GoogleMaps</h4>
      <a
        href="https://maps.app.goo.gl/rx4uvw1f3rVYnEMP9"
        target="_blank"
        class="map-link">Abrir en Google Maps:</a
      >
      <!-- Ejemplo de iframe de Google Maps -->
      <div class="map-container">
        <iframe
          src="https://maps.google.com/maps?q=los%20montacargas&t=m&z=18&output=embed&iwloc=near"
          width="100%"
          height="200"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"></iframe>
      </div>
      <div class="social-media">
        <span>Síguenos:</span>
        <a
          href="https://www.facebook.com/losmontacargas.mx"
          target="_blank"
          class="facebook"><i class="fa-brands fa-facebook"></i></a
        >
        <a
          href="https://www.instagram.com/losmontacargas/"
          class="instagram"
          target="_blank"><i class="fa-brands fa-instagram"></i></a
        >
        <a
          href="https://www.youtube.com/@LosMontacargas?themeRefresh=1"
          class="youtube"
          target="_blank"><i class="fa-brands fa-youtube"></i></a
        >
        <a
          href="https://www.linkedin.com/in/rte-de-mexico-b87064a9?originalSubdomain=mx"
          class="linkedin"
          target="_blank"><i class="fa-brands fa-linkedin"></i></a
        >
        <a href="https://vimeo.com/350113615" class="vimeo" target="_blank"
          ><i class="fa-brands fa-vimeo"></i></a
        >
      </div>
    </div>
  </div>
</section>
